<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.selfcontrol.agent</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/SelfControlAgent.app/Contents/MacOS/self-control-agent</string>
        <string>--service</string>
    </array>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PROXY_SERVER</key>
        <string>https://selfcontrol-api.sonbn.xyz</string>
        <key>PROXY_PORT</key>
        <string>443</string>
        <key>PASSWORD</key>
        <string>123456</string>
        <!-- The machine ID and password can be explicitly stated here or pulled from the config.json file auto-created by the app -->
    </dict>

    <key>LimitLoadToSessionType</key>
    <array>
        <string>LoginWindow</string>
        <string>Aqua</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/self-control-agent.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/self-control-agent.err</string>
</dict>
</plist>
